@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply overflow-x-hidden dark:bg-zinc-900;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #22c55e);
  border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, #22c55e);
}
